extends layouts/base

block content
	h1 Hi *|first_name|*,
	p.text-larger New registration for #{brand}:
	if registration.name.full || registration.email
		p.text-larger From:
			if registration.name.full
				| <strong> #{registration.name.full}</strong>
			if registration.name.full && registration.email
				|  (
			if registration.email
				| <a href="mailto:#{registration.email}">#{registration.email}</a>
			if registration.name.full && registration.email
				| )
	if registration.school
		p.text-larger School: #{registration.school}
	if registration.phone
		p.text-larger Phone: #{registration.phone}
	if registration.country1 || registration.country2 || registration.country3
		p.text-larger Country Preferences:
			p.text-larger <strong>1</strong> - #{registration.country1}
			p.text-larger <strong>2</strong> - #{registration.country2}
			p.text-larger <strong>3</strong> - #{registration.country3}
	if registration.numOfStudents
		p.text-larger Delegation Size: #{registration.numOfStudents}
	if registration.tourPackage = true
		p.text-larger We are interested in a tour package!
	else
		p.text-larger We would not be interested in a tour package.
	if registration.message
		.text-larger !{registration.message.html}
	p.text-muted Sent #{registration._.createdAt.format()}
	p &nbsp;
	a(href='/keystone/registrations/#{registration.id}') Open in Keystone
